<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EditDatabase</servlet-name>
        <servlet-class>com.mycompany.deutsche_akademie.EditDatabase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDatabase</servlet-name>
        <servlet-class>com.mycompany.deutsche_akademie.UpdateDatabase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDeleteWord</servlet-name>
        <servlet-class>com.mycompany.deutsche_akademie.AddDeleteWord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteWord</servlet-name>
        <servlet-class>com.mycompany.deutsche_akademie.DeleteWord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.mycompany.deutsche_akademie.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.mycompany.deutsche_akademie.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddWord</servlet-name>
        <servlet-class>com.mycompany.deutsche_akademie.AddWord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WordTest</servlet-name>
        <servlet-class>.WordTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartTest</servlet-name>
        <servlet-class>com.mycompany.deutsche_akademie.StartTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitAnswers</servlet-name>
        <servlet-class>com.mycompany.deutsche_akademie.SubmitAnswers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTestHistory</servlet-name>
        <servlet-class>com.mycompany.deutsche_akademie.ViewTestHistory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditDatabase</servlet-name>
        <url-pattern>/EditDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDatabase</servlet-name>
        <url-pattern>/UpdateDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDeleteWord</servlet-name>
        <url-pattern>/AddDeleteWord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteWord</servlet-name>
        <url-pattern>/DeleteWord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddWord</servlet-name>
        <url-pattern>/AddWord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WordTest</servlet-name>
        <url-pattern>/WordTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartTest</servlet-name>
        <url-pattern>/StartTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitAnswers</servlet-name>
        <url-pattern>/SubmitAnswers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTestHistory</servlet-name>
        <url-pattern>/ViewTestHistory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
