<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HelloWorldServlet</servlet-name>
        <servlet-class>com.mycompany.icp_2151_lab_4.HelloWorldServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonalHelloServlet</servlet-name>
        <servlet-class>com.mycompany.icp_2151_lab_4.PersonalHelloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycompany.icp_2151_lab_4.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderFormServlet</servlet-name>
        <servlet-class>com.mycompany.icp_2151_lab_4.OrderFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RandomFactServlet</servlet-name>
        <servlet-class>com.mycompany.icp_2151_lab_4.RandomFactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetTimeZoneServlet</servlet-name>
        <servlet-class>com.mycompany.icp_2151_lab_4.SetTimeZoneServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorldServlet</servlet-name>
        <url-pattern>/HelloWorldServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonalHelloServlet</servlet-name>
        <url-pattern>/PersonalHelloServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderFormServlet</servlet-name>
        <url-pattern>/OrderFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RandomFactServlet</servlet-name>
        <url-pattern>/RandomFactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetTimeZoneServlet</servlet-name>
        <url-pattern>/SetTimeZoneServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
